html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-image: url(bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.site-header {
  padding: 0px 20px;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
  gap: 10px;
  position: fixed;
  width: calc(100% - 40px);
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .site-header {
    height: 85px;
  }
}
.site-header h1 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0);
  transition: color 0.2s;
  flex-grow: 1;
}
.site-header.scrolled h1 {
  color: #000000;
}
.site-header .site-title {
  color: #424242;
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-header .img {
  flex-grow: 1;
}
.site-header .img img {
  max-height: 35px;
}
@media screen and (min-width: 560px) {
  .site-header .img.logo-small {
    display: none;
  }
}
@media screen and (max-width: 559px) {
  .site-header .img.logo-wide {
    display: none;
  }
}
.site-header a,
.site-header div.trigger {
  background: white;
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #424242;
  padding: 10px;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  outline: none;
}
.site-header a:hover .autocompletions,
.site-header div.trigger:hover .autocompletions,
.site-header a:focus .autocompletions,
.site-header div.trigger:focus .autocompletions {
  display: initial;
}
.site-header a.sharpenBottom,
.site-header div.trigger.sharpenBottom {
  border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 500px) {
  .site-header a.documentation,
  .site-header div.trigger.documentation {
    display: none;
  }
}
@media screen and (max-width: 625px) {
  .site-header a.getting-started,
  .site-header div.trigger.getting-started {
    display: none;
  }
}
.site-header .trigger {
  position: relative;
  display: inline-block;
  cursor: default;
}
.site-header .trigger .soh {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 12px 16px;
  z-index: 1;
}
.site-header .trigger .soh a:not(:nth-last-of-type(1)) {
  margin-bottom: 10px;
}
.site-header .trigger .soh .getting-started--soh {
  display: none;
}
@media screen and (max-width: 625px) {
  .site-header .trigger .soh .getting-started--soh {
    display: block;
  }
}
.site-header .trigger .soh .documentation--soh {
  display: none;
}
@media screen and (max-width: 500px) {
  .site-header .trigger .soh .documentation--soh {
    display: block;
  }
}
.site-header .trigger:hover .soh,
.site-header .trigger:focus .soh,
.site-header .trigger:focus .soh {
  display: block;
}
header {
  background: #ffffff;
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}
header h1 {
  font-weight: 400;
  font-size: 96px;
  margin-block: none;
  margin: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 675px) {
  header h1 {
    font-size: 75px;
  }
}
header a {
  background: #F57E25;
  display: inline-block;
  padding: 5px 13px;
  font-size: 22px;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  margin: 5px;
  border: 5px solid #F57E25;
  transition: background-color 0.2s, color 0.2s;
}
header a:hover {
  background: #f79b56;
}
header a.outline {
  background: transparent;
  color: #F57E25;
}
header a.outline:hover {
  background: #fef1e8;
}
main {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}
main .container {
  width: 80%;
  max-width: 900px;
}
main .container img {
  width: 50px;
}
main .container h2 {
  font-weight: 400;
  font-size: 48px;
  margin: 0;
}
main .container div {
  margin-bottom: 50px;
}
main img.hero {
  width: 80%;
  max-width: 900px;
  padding-bottom: 100px;
}
